html {
   font-size: 80%;
   scroll-behavior: smooth;
}

* {
   margin: 0px;
   padding: 0px;
   box-sizing: border-box;
}

/* ============ Fontes =============
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif; 
 ==================================== */

 body {
   font-family: 'Open Sans', sans-serif;
 }

 h1, h2, h3, h4, h4, h5, h6 {
   font-family: 'Montserrat', sans-serif;
 }